/*base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*reusable css class*/
.section{
    padding: 4.5rem 0 2rem;
}
/*layout*/
.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid{
    display: grid;
}
/*footer*/
.footer{
    position: relative;
    overflow: hidden;
}
.footer_container{
    
    justify-items: center;
    column-gap: 1rem;
row-gap: 2rem;
}
.footer_logo{
 margin-bottom: 1rem;
}
.footer_description{
    margin-bottom: 2rem;
}
.footer_social{
    display: flex;
   column-gap: .75rem;
}
.footer_social-link{
    display: inline-flex;
    background-color: aqua;
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    color:white;
}
.footer_links{
    display: grid;
    row-gap: .25rem;
}
.footer_copy{
    display: block;
    text-align: center;
    margin-top: 4.5rem;
}
@media screen and (min-width:567px){
    .footer_container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        column-gap: 1rem;
      }
}